<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WebService_LoginPath" value="/edu/public/api/admin/login" />
    <add key="WebService_PostFilePath" value="/edu/api/public/attendance/record/import/csv" />
    <add key="Server" value="192.168.22.140" />
    <add key="Username" value="ingress" />
    <add key="Password" value="rqKfpuorWC4=" />
    <add key="Port" value="3306" />
    <add key="Database" value="ingress" />
    <add key="raw_audit_dataRawExportColumn" value="User ID,varchar,6,True,False,True_|_Name,varchar,95,False,False,True_|_Clock Time,datetime,0,False,False,False_|_Department,varchar,200,False,False,True" />
    <add key="raw_audit_dataRawDelimiter" value="" />
    <add key="RawExportPath" value="C:\Tmp" />
    <add key="RawExportFormat" value="CSV" />
    <add key="raw_audit_dataRawSearchByDateRange" value="False" />
    <add key="raw_audit_dataRawDateType" value="0" />
    <add key="raw_audit_dataRawDateFrom" value="2015-12-01 00:00:00" />
    <add key="raw_audit_dataRawDateTo" value="2015-12-02 23:59:59" />
    <add key="raw_audit_data_DateFomatOn_Clock Time" value="yyyy/mm/dd,False,True,True,True,True,True,True" />
    <add key="attendance - data audit listRawExportColumn" value="User ID,varchar,14,False,False,False_|_Name,varchar,95,False,False,False_|_Clock Time,datetime,19,False,False,False_|_User Name,varchar,26,False,False,False_|_Employee ID,varchar,15,False,False,False_|_Department,varchar,26,False,False,False_|_Device No.,varchar,4,False,False,False_|_Device Name,varchar,50,False,False,False_|_Verify Type,int,11,False,False,False_|_Check Type,int,11,False,False,False" />
    <add key="attendance - data audit listRawDelimiter" value="" />
    <add key="attendance - data audit listRawSearchByDateRange" value="False" />
    <add key="attendance - data audit listRawDateType" value="0" />
    <add key="attendance - data audit listRawDateFrom" value="2015-12-01 00:00:00" />
    <add key="attendance - data audit listRawDateTo" value="2015-12-01 23:59:59" />
    <add key="attendance - data audit listRawAddQuotation" value="False" />
    <add key="raw_audit_dataRawAddQuotation" value="" />
    <add key="attendance_recordRawExportColumn" value="User ID,varchar,6,True,False,True_|_Date In,date,10,False,False,False_|_Time In,time,8,False,False,False_|_Date Out,date,10,False,False,False_|_Time Out,time,8,False,False,False_|_User Name,varchar,26,False,False,False_|_Employee ID,varchar,15,False,False,False_|_Department,varchar,26,False,False,False" />
    <add key="attendance_recordRawAddQuotation" value="False" />
    <add key="attendance_recordRawDelimiter" value="," />
    <add key="attendance_recordRawSearchByDateRange" value="False" />
    <add key="attendance_recordRawDateType" value="0" />
    <add key="attendance_recordRawDateFrom" value="2015-12-01 00:00:00" />
    <add key="attendance_recordRawDateTo" value="2015-12-01 23:59:59" />
    <add key="attendance - data audit list_DateFomatOn_Clock Time"
      value="dd/mm/yyyy,False,True,True,True,True,True,False" />
    <add key="attendance_record_DateFomatOn_Date In" value="dd/mm/yyyy,False,True,False,True,True,True,False" />
    <add key="attendance_record_DateFomatOn_Time In" value="dd/mm/yyyy,False,False,False,True,True,True,False" />
    <add key="attendance_record_DateFomatOn_Date Out" value="dd/mm/yyyy,False,True,False,True,True,True,False" />
    <add key="attendance_record_DateFomatOn_Time Out" value="dd/mm/yyyy,False,False,False,True,True,True,False" />
    <add key="attendance - data audit listRawExportPath" value="C:\Tmp" />
    <add key="attendance - data audit listRawExportFormat" value="TXT (Plain Text)" />
    <add key="attendance - data audit listRawExportFileName" value="" />
    <add key="attendance_recordRawExportPath" value="C:\Tmp" />
    <add key="attendance_recordRawExportFormat" value="CSV (Plain Text)" />
    <add key="attendance_recordRawExportFileName" value="%Y%M%D" />
    <add key="SerialKey" value="bth2CnTH2gJA6DI4YlRhwYARpSCVSv8aJ7SmF9+kBvQ=1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WebService_HostName" value="school.talkboxapp.com" />
    <add key="WebService_UserName" value="" />
    <add key="attendance_recordExportNoRecordUserInfo" value="True" />
    <add key="attendance_recordExportNoHeader" value="False" />
    <add key="WebService_Password" value="J7SmF9+kBvQ=" />
    <add key="WebService_CompanyID" value="" />
    <add key="WebService_ModuleKey" value="Diohd87bvTCXU3YgJb8GBKWhD7Zay1xncPgva7/gPE8ntKYX36QG9A==" />
    <add key="attendance_record_in_lateRawExportColumn" value="User ID,varchar,30,False,False,False_|_User Name,varchar,96,False,False,False_|_Email,varchar,50,False,False,False_|_In Date,date,10,False,False,False_|_In Time,time,8,False,False,False_|_Session ID,varchar,2,False,False,False_|_Reason,varchar,61,False,False,False" />
    <add key="attendance_record_in_lateRawAddQuotation" value="False" />
    <add key="attendance_record_in_lateRawDelimiter" value="," />
    <add key="attendance_record_in_lateRawExportPath" value="C:\Temp" />
    <add key="attendance_record_in_lateRawExportFormat" value="CSV (Plain Text)" />
    <add key="attendance_record_in_lateRawExportFileName" value="in_late%Y%M%D" />
    <add key="attendance_record_in_lateRawSearchByDateRange" value="True" />
    <add key="attendance_record_in_lateRawDateType" value="6" />
    <add key="attendance_record_in_lateRawDateFrom" value="2015-05-01 00:00:00" />
    <add key="attendance_record_in_lateRawDateTo" value="2015-05-05 23:59:59" />
    <add key="attendance_record_in_lateExportNoRecordUserInfo" value="False" />
    <add key="attendance_record_in_lateExportNoHeader" value="False" />
    <add key="attendance_record_in_late_DateFomatOn_In Date" value="dd/mm/yyyy,False,False,False,True,True,True,False" />
    <add key="attendance_record_in_late_DateFomatOn_In Time" value="dd/mm/yyyy,False,False,False,True,True,True,False" />
    <add key="attendance_record_in_on_timeRawExportColumn" value="User ID,varchar,30,False,False,False_|_User Name,varchar,96,False,False,False_|_Email,varchar,50,False,False,False_|_In Date,date,10,False,False,False_|_In Time,time,8,False,False,False_|_Session ID,varchar,2,False,False,False" />
    <add key="attendance_record_in_on_timeRawAddQuotation" value="False" />
    <add key="attendance_record_in_on_timeRawDelimiter" value="," />
    <add key="attendance_record_in_on_timeRawExportPath" value="C:\Temp" />
    <add key="attendance_record_in_on_timeRawExportFormat" value="CSV (Plain Text)" />
    <add key="attendance_record_in_on_timeRawExportFileName" value="in_on_time%Y%M%D" />
    <add key="attendance_record_in_on_timeRawSearchByDateRange" value="True" />
    <add key="attendance_record_in_on_timeRawDateType" value="6" />
    <add key="attendance_record_in_on_timeRawDateFrom" value="2016-07-01 00:00:00" />
    <add key="attendance_record_in_on_timeRawDateTo" value="2016-07-31 23:59:59" />
    <add key="attendance_record_in_on_timeExportNoRecordUserInfo"
      value="False" />
    <add key="attendance_record_in_on_timeExportNoHeader" value="False" />
    <add key="attendance_record_in_on_time_DateFomatOn_In Date" value="dd/mm/yyyy,False,False,False,True,True,True,False" />
    <add key="attendance_record_in_on_time_DateFomatOn_In Time" value="dd/mm/yyyy,False,False,False,True,True,True,False" />
    <add key="attendance_record_resume_lateRawExportColumn" value="User ID,varchar,30,False,False,False_|_User Name,varchar,96,False,False,False_|_Email,varchar,50,False,False,False_|_In Date,date,10,False,False,False_|_In Time,time,8,False,False,False_|_Session ID,varchar,2,False,False,False_|_Reason,varchar,61,False,False,False" />
    <add key="attendance_record_resume_lateRawAddQuotation" value="False" />
    <add key="attendance_record_resume_lateRawDelimiter" value="," />
    <add key="attendance_record_resume_lateRawExportPath" value="C:\Temp" />
    <add key="attendance_record_resume_lateRawExportFormat" value="CSV (Plain Text)" />
    <add key="attendance_record_resume_lateRawExportFileName" value="resume_late%Y%M%D" />
    <add key="attendance_record_resume_lateRawSearchByDateRange"
      value="False" />
    <add key="attendance_record_resume_lateRawDateType" value="0" />
    <add key="attendance_record_resume_lateRawDateFrom" value="2015-05-01 00:00:00" />
    <add key="attendance_record_resume_lateRawDateTo" value="2015-05-05 23:59:59" />
    <add key="attendance_record_resume_lateExportNoRecordUserInfo"
      value="False" />
    <add key="attendance_record_resume_lateExportNoHeader" value="False" />
    <add key="attendance_record_resume_late_DateFomatOn_In Date"
      value="dd/mm/yyyy,False,False,False,True,True,True,False" />
    <add key="attendance_record_resume_late_DateFomatOn_In Time"
      value="dd/mm/yyyy,False,False,False,True,True,True,False" />
    <add key="attendance_record_resume_on_timeRawExportColumn" value="User ID,varchar,30,False,False,False_|_User Name,varchar,96,False,False,False_|_Email,varchar,50,False,False,False_|_In Date,date,10,False,False,False_|_In Time,time,8,False,False,False_|_Session ID,varchar,2,False,False,False" />
    <add key="attendance_record_resume_on_timeRawAddQuotation" value="False" />
    <add key="attendance_record_resume_on_timeRawDelimiter" value="," />
    <add key="attendance_record_resume_on_timeRawExportPath" value="C:\Temp" />
    <add key="attendance_record_resume_on_timeRawExportFormat" value="CSV (Plain Text)" />
    <add key="attendance_record_resume_on_timeRawExportFileName"
      value="resume_on_time%Y%M%D" />
    <add key="attendance_record_resume_on_timeRawSearchByDateRange"
      value="False" />
    <add key="attendance_record_resume_on_timeRawDateType" value="0" />
    <add key="attendance_record_resume_on_timeRawDateFrom" value="2015-05-01 00:00:00" />
    <add key="attendance_record_resume_on_timeRawDateTo" value="2015-05-05 23:59:59" />
    <add key="attendance_record_resume_on_timeExportNoRecordUserInfo"
      value="False" />
    <add key="attendance_record_resume_on_timeExportNoHeader" value="False" />
    <add key="attendance_record_resume_on_time_DateFomatOn_In Date"
      value="dd/mm/yyyy,False,False,False,True,True,True,False" />
    <add key="attendance_record_resume_on_time_DateFomatOn_In Time"
      value="dd/mm/yyyy,False,False,False,True,True,True,False" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>